<h1>Player statistics</h1>
<br>
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<div class="dropdown pull-left">
			<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{currentSeason.name}}
			<span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
				<li role="presentation" ng-repeat="season in seasons" ng-click="setSeason(season)"><a role="menuitem" tabindex="-1" href="#">{{season.name}}</a></li>
			</ul>
		</div> <!-- dropdown -->
		<div class="margined-left">
			<select class="selectpicker show-tick form-control team-name" ng-model="currentTeam" ng-change="getPlayersSeasonStat(currentTeam)" data-live-search="true" required>
				<option ng-repeat="team in seasonParticipants">{{team.name}}</option>
			</select>
			<!-- <span>{{currentTeam}}</span> -->
		</div>
		<!-- <input type="button" class="btn btn-success pull-right" ng-click="getPlayersSeasonStat(currentTeam)" value = "Refresh"/> -->
	</div> <!-- panel-heading -->
	<!-- Table -->
	<table class="table table-striped">
		<thead>
			<th class="text-centered" ng-repeat="header in playerStatHeaders track by $index" id="{{header.fieldName}}" ng-click="sort(header.fieldName,playersSeasonStatistic)">{{header.title}}</th>
		</thead>
		<tbody>
			<tr ng-repeat="player in playersSeasonStatistic track by $index" class="text-centered">
				<td >{{$index+1}}</td>
				<td>{{player.secondName}}</td>
				<td>{{player.firstName}}</td>
				<td>{{player.goals}}</td>
				<td>{{player.red}}</td>
				<td>{{player.yellow}}</td>
			</tr>
			
		</tbody>
	</table>
</div> <!-- panel panel-default -->