<h1>Season statistics</h1>
<br>
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<div class="dropdown pull-left" >
			<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{currentSeason.name}}
			<span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
				<li role="presentation" ng-repeat="season in seasons" ng-click="setSeason(season)"><a role="menuitem" tabindex="-1" href="#">{{season.name}}</a></li>
			</ul>
		</div> <!-- dropdown -->
		<!-- <input type="button" class="btn btn-success pull-right" ng-click="loadSeasonResults()" value = "Refresh"/> -->
		<br>
		<br>
	</div> <!-- panel-heading -->
	<!-- Table -->
	<table class="table table-striped">
		<thead >
			<th ng-repeat="item in seasonResultHeaders track by $index" class="text-centered" ng-click="sort(item,seasonResults)" id="{{item}}">{{ item }}</th>
		</thead>
		<tbody>
			<tr ng-repeat="team in seasonResults track by $index" class="text-centered">
				<td>{{$index+1}}</td>
				<td  class="clickable" ng-dblclick="route('static/teamGameStatistic.htm',team)">{{ team.Team }}</td>
				<td>{{ team.Games }}</td>
				<td>{{ team.Goals }}</td>
				<td>{{ team.GA }}</td>
				<td> {{ getGA(team.Goals, team.GA) }} </td>
				<td>{{ team.Points }}</td>
			</tr>
			
		</tbody>
	</table>
</div> <!-- panel panel-default -->