<h1>{{selectedTeam}} games in {{currentSeason.name}} season</h1>
<div class="dropdown pull-left" >
			<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{currentSeason.name}}
			<span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
				<li role="presentation" ng-repeat="season in seasons" ng-click="setSeason(season)"><a role="menuitem" tabindex="-1" href="#">{{season.name}}</a></li>
			</ul>
		</div> <!-- dropdown -->
<div class="panel panel-default">
	<!-- Table -->
	<table class="table table-striped">
		<thead>
			<th class="text-centered">ID</th>
			<th class="text-centered">Date</th>
			<th class="text-centered">Home</th>
			<th class="text-centered">Score</th>
			<th class="text-centered">Guest</th>
		</thead>
		<tbody>
			<tr class="text-centered" ng-repeat="game in teamGames track by $index">
				<td>{{game.id}}</td><td ng-init="parseDate(game.date,$index)">{{gmd[$index]}}</td><td>{{ game.home }}</td><td>{{game.homeGoals}}-{{game.guestGoals}}</td><td>{{ game.guest }}</td><td><input type="button" class="btn btn-danger small-btn text-centered" value="Delete" ng-click="deleteGame(game.id)" ng-show="isAdmin"/></td>
			</tr>
		</tbody>
	</table>
</div> <!-- panel panel-default -->
<br>